# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Visual studio
.vscode

# OSX
.DS_Store

# Database
*.db

# IDE
.idea/*

# Vagrant
.vagrant

# Media

media/*

# SSH
ssh-credentials

# KEY
UTC--2018-09-06T16-44-51.801499929Z--3e2c8f397e1bb11bb144d8d56a9819bf22040d68

# settings
docker-compose-prod.yaml
aic_key
